body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculadora {
  background-color: #d6d4d4;
  border-radius: 10px;
  padding: 30px;
  border: 4px solid rgb(179, 179, 179);
}

#display {
  width: 92.7%;
  font-size: 24px;
  padding: 10px;
  text-align: right;
  margin-bottom: 10px;
  border: 1px solid rgb(179, 179, 179);
}

.teclado {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  height: 75px;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid rgb(179, 179, 179);
}
